#simuContainer {
    height: 100%;
    background: #252526;
    display: flex;
    flex-direction: column;

    #progressBar {
        padding-top: 104px;
        height: 80px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: #252526;

        #blockBar {
            width: 730px;
            display: flex;
            justify-content: space-between;

            .step {
                height: 5px;

                border-radius: 10px;
                width: 100px;
            }

        }




    }

    #form {
        padding: 194px 10px 10px 10px;
        height: 100%;
        background: #252526;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .divExpended {
            border: 1px solid #BEAF87;
            border-radius: 10px;
            height: 500px;
            color: #FFF;
            text-align: center;
            font-family: Barlow;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 41px;
            /* 102.5% */
            width: 95%;
            display: flex;

            .leftDiv {
                display: flex;
                flex-direction: column;

                width: 50%;
                height: 100%;

            }

            .rightDiv {
                width: 50%;

                display: flex;
                justify-content: center;
                align-items: center;

                #positionImg {
                    display: flex;
                    justify-content: flex-end;

                }

                .img {
                    width: 400px;
                    height: 400px;
                    background: purple;
                    border: 1px solid #BEAF87;

                    .photo {
                        height: 100%;

                    }
                }

            }

        }

        .div {
            border: 1px solid #BEAF87;
            border-radius: 10px;
            height: 100px;
            color: #FFF;
            text-align: center;
            font-family: Barlow;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 41px;
            /* 102.5% */
            width: 95%;
            display: flex;

            .leftDiv {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 50%;
                height: 100%;

                

                #map {
                    visibility: hidden;

                }

                .span {
                    visibility: hidden;
                    
    
                }

                





            }

            .rightDiv {
                width: 50%;

                display: flex;
                justify-content: center;
                align-items: center;

                .img {
                    width: 40px;
                    height: 40px;
                    background: purple;
                    border: 1px solid #BEAF87;

                    .photo {
                        visibility: hidden;
                    }
                }

            }

        }

        #popupContainer {
            background: white;
            position: fixed;
            height: 70vh;
            background: #252526;
            width: 90vw;
            border-radius: 10px;
            border: 3px solid black;
            display: flex;
            align-items: center;
            flex-direction: column;

            .persInfo {
                width: 80%;
                display: flex;
                flex-direction: column;
                color: white;
            }

        }

    }
}

#map path:hover {
    fill: white;
    cursor: pointer;
}



