#simuContainer {
    height: 100%;
    background: #252526;
    display: flex;
    flex-direction: column;

    #progressBar {
        padding-top: 104px;
        height: 80px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: #252526;

        #blockBar {
            width: 730px;
            display: flex;
            justify-content: space-between;

            .step {
                height: 5px;

                border-radius: 10px;
                width: 100px;
            }

        }




    }

    #form {
        padding: 194px 10px 10px 10px;
        height: 100%;
        background: #252526;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .divExpended {
            border: 1px solid #BEAF87;
            border-radius: 10px;
            height: 500px;
            color: #FFF;
            text-align: center;
            font-family: Barlow;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 41px;
            /* 102.5% */
            width: 95%;
            display: flex;
            transition: 300ms;

            .leftDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 2% 0 0 2%;
                width: 48%;
                height: 98%;


                #buttonFirstDiv {
                    visibility: hidden;
                    height: 0;
                }

                .input {
                    width: 100%;
                    height: 35px;
                    border-radius: 9px;
                    border: 0;
                    font-size: 16px;

                }

                .span {
                    width: 100%;

                    display: flex;
                    justify-content: flex-start;
                    color: #FFF;
                    font-family: Barlow;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 41px;
                    /* 205% */
                }

                .buttons {
                    padding: 2px 40px;
                    border-radius: 5px;
                    background: #BEAF87;
                    border: 0;
                    color: #252526;
                    font-family: Barlow;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 41px;
                }

            }

            .rightDiv {
                width: 50%;

                display: flex;
                justify-content: center;
                align-items: center;

                #positionImg {
                    display: flex;
                    justify-content: flex-end;

                }

                .img {
                    width: 400px;
                    height: 400px;
                    
                    border: 1px solid #BEAF87;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .photo {
                        height: 100%;

        

                    }

                    #imgE {
                        width: 100%;
                        height: fit-content;
                        

                    }

                    #imgM {
                        width: 100%;
                        height: fit-content;

                    }

                    #imgT {
                        width: 100%;
                        height: fit-content;
                    }

                    


                }

            }

        }

        .div {
            border: 1px solid #BEAF87;
            border-radius: 10px;
            height: 100px;
            color: #FFF;
            text-align: center;
            font-family: Barlow;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 41px;
            /* 102.5% */
            width: 95%;
            display: flex;
            transition: 300ms;

            .leftDiv {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding-left: 2%;
                width: 48%;
                height: 100%;



                #map {
                    visibility: hidden;
                    width: 0;

                }

                .span {
                    visibility: hidden;
                    width: 0;


                }

                .input {
                    background: none;
                    width: 400px;
                    color: #FFF;
                    border: 0;
                    font-family: Barlow;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 41px;
                    /* 205% */
                }

                .buttons {
                    padding: 2px 40px;
                    border-radius: 5px;
                    background: #BEAF87;
                    border: 0;
                    color: #252526;
                    font-family: Barlow;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 41px;
                    /* 256.25% */
                }







            }

            .rightDiv {
                width: 50%;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                #positionImg {
                    

                    }

                    #positionImg2 {
                        background-image: url("../../../public/adresseImg.png")

                    }

                    #positionImg3 {
                        background-image: url("../../../public/cash.png")

                    }

                    #positionImg4 {
                        background-image: url("../../../public/teamwork.png")

                    }

                    #positionImg5 {
                        background: url("../../../public/tools.png");

                    }

                    #positionImg6 {
                        background: url("../../../public/offers.png");

                        
                    }

                .img {
                    width: 40px;
                    height: 40px;
                    
                    

                    

                    .photo {
                        visibility: hidden;
                    }
                }

            }

        }

        #popupContainer {
            transition: 300ms;
            background: white;
            position: fixed;
            height: 70vh;
            background: #252526;
            width: 90vw;
            border-radius: 10px;
            border: 3px solid black;
            display: flex;
            justify-content: space-around;

            #leftPopup {
                width: 50%;
                padding: 0% 2%;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                #topLeftPopup {
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    #top {
                        color: #FFF;
                        font-family: Barlow;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 41px;
                        /* 128.125% */
                    }

                    #graph {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }

                    #bottom {
                        color: #FFF;
                        font-family: Barlow;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 35px;
                        /* 175% */
                    }
                }

                #bottomText {
                    color: #FFF;
                    text-align: center;
                    font-family: Barlow;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 21px;
                    padding-bottom: 10px;
                    /* 175% */
                }

            }

            #rightPopup {
                width: 40%;
                border-radius: 8px;
                background: #FFF;
                padding: 10px 2%;
                overflow: scroll;

                #top {
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    border-bottom: 1px solid black;

                    .firstP {

                        display: flex;
                        justify-content: space-around;

                        .img {
                            width: 8%;
                        }

                        .text {
                            width: 82%;
                            color: #000;
                            font-family: Barlow;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 30px;
                            /* 150% */
                        }

                    }

                    #buttons {
                        height: 40px;


                    }
                }

                #bottom {
                    padding: 0 10px;
                    height: 500px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    #head {
                        color: #000;
                        font-family: Barlow;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        /* 200% */
                    }

                    #form {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        background: none;
                        width: 100%;
                        padding: 0;
                        height: 300px;


                        .input {
                            padding-left: 2%;
                            width: 94%;
                            height: 32px;
                            border-radius: 8px;
                            background: #C2C2C2;
                            border: 0;
                            color: #F0F0F0;
                            font-family: Barlow;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 40px;
                            /* 200% */
                        }


                    }

                    .buttons {
                        width: max-content;
                        border: 0;
                        border-radius: 8px;
                        background: #3E3E52;
                        color: #FFF;
                        font-family: Barlow;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        padding: 0 15px;
                        cursor: pointer;
                        /* 200% */
                    }

                    ::placeholder {
                        color: #F0F0F0;
                    }
                }








            }



        }

    }
}

#map path:hover {
    fill: white;
    cursor: pointer;
}